/* Add highlight.js default theme */
@import 'highlight.js/styles/github-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-neutral-100 dark:bg-neutral-800 rounded-full font-mono font-medium text-center text-neutral-600 dark:text-neutral-400 text-base inline-flex items-center justify-center -indent-px;
    content: counter(step);
  }
}

/* Custom styles for code blocks */
.prose pre {
  @apply bg-neutral-900 rounded-lg my-0 p-4 whitespace-pre-wrap break-words;
}

.prose pre > code {
  @apply inline-block min-w-full break-words;
}

.prose code {
  @apply bg-neutral-100 dark:bg-neutral-800 rounded px-1 py-0.5 text-sm;
}

.prose pre code {
  @apply bg-transparent p-0 rounded-none text-neutral-200;
}
